<!-- Posts#index -->
<!-- Find me in app/views/posts/index.html.erb -->
<main id="body">
<div id="showindex">
	<p>All Posts</p>
	<% @posts.each do |p| %>
	<ul>
		<li><%=	link_to p.body, post_path(p.id) %> | <%= p.user.fname %></li> 
	</ul>
	<% end %>
<button><%= link_to 'Create new Post', new_post_path %></button>

</div>


 
	
</main>

    